{{h.form('')}}
    {{form.render()|safe}}

    <div class="actions">
        {{h.submit('submit', 'Submit', class_='btn success')}}
        <input type="button" value="Cancel" onclick="window.location='{{url_base|route_url}}'" class="btn danger">
    </div>
{{h.end_form()}}
